@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");

:root {
  --ff-cocogoose: "COCOGOOSE", sans-serif;
  --ff-lato: "Lato", sans-serif;
  --color-black: #272a31;
  --color-red: #ec5242;
  --color-lightgrey: #d3d3d3;
  --color-darkgrey: #5e5e5e;
  --color-whitesmoke: #f7f7f7;
  --color-white: #fff;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: var(--ff-lato);
  transition-duration: 0.25s;
}

nav {
  width: 100vw;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  text-decoration: none;
}

h2.dummy-heading {
  font-size: 0;
  visibility: hidden;
}

.primary-btn {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  letter-spacing: 0.04em;
  width: max-content;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
  border: 0.0625rem solid var(--color-red);
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--color-red);
  color: var(--color-white);
  transition: background-color 0.15s, box-shadow 0.15s;
}

.primary-btn:hover {
  color: var(--color-red);
  background: var(--color-white);
}
